body {
    margin: 60px auto;
    width: 60%;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: "Droid Serif";
    /*font-family: "Courier New", Courier, monospace;*/
    /* Font size */
    font-size: 18px;
    /*line-height: 1.4em;*/
}
nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: "Droid Serif";
    /*font-family: "Courier New", Courier, monospace;*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    /* Link color */
    /* color: #999; */
    color: #275c8d;
}
a:hover {
    text-decoration: underline;
}
h1 {
    /*font-size: 3em;*/
    font-size: 2em;
     /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: "Droid Serif";
    /*font-family: "Courier New", Courier, monospace;*/
}
p {
    /*font-size: 1.5em;*/
    font-size: 1.2em;
    line-height: 1.4em;
    /*color: #333;*/
    color: #000000;
}
footer {
    border-top: 1.2px solid #d5d5d5;
    font-size: .8em;
}

header {
     border-bottom: 1.2px solid #d5d5d5;
     /*font-size: .8em;*/
     font-size: 1em;
}

ul.posts {
    margin: 20px auto 40px;
    /* font-size: 1.5em; */
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

/* Add 1.5 spacing to numbered lists */
li {
  margin: 1.0em 0px;
}
