<header class="header">
  <nav>
    <!-- You can do this by titling the index.md file -->
    <!-- <a class="page-link" href="{{ site.baseurl }}/">Home</a> -->
    <ul>
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    <!-- Order navigation buttons by order that is assigned in the markdown files -->
    <!-- <a class="page-link" href="{{ page.url }}">{{ page.title | escape }}</a> -->
    {% endfor %}
    </ul>
  <nav>
  <!-- <div class="description"> {{ site.motto }} </div> -->
  <!-- <ul class="social-links"> -->
  <!--   <li> -->
  <!--     <small><a href="https://richryan.github.io">richryan.github.io</a></small> -->
  <!--   </li> -->
  <!-- </ul> -->
</header>
